<p>
    <div class="title" >Get Factors</div><br/>
    <div class="opted-factor"></div>
    <div class="message"></div>
    <ul class="wrap-bt">
        <li class="bt bt-reset">RESET</li>
        <li class="bt bt-add off" style="display: none">ADD</li>
    </ul>
</p>

<section class="tb">
    <header>
        <div style="min-width: 10px !important;">   </div>
        <div>Code</div>
        <div>EngName</div>
        <div>IsActive</div>
        <div>HasSub</div>
        <div>KorName</div>
        <div>JpnName</div>
        <div>ChnName</div>
    </header>
{% include 'factors/table_factor.html' %}
</section>
