<p>
    <div class="title" >Set of Factors</div>
    <div class="delegate-item" style="color:dodgerblue"
         data-nutrient-code="{{ nutrient.dt_pattern|e }}-{{ nutrient.pattern1|e }}-{{ nutrient.pattern2|e }}-{{ nutrient.serial|e }}"
    >
        ({{ nutrient.eng_name }} {{ nutrient.dt_pattern }}{{ nutrient.pattern1 }}{{ nutrient.pattern2 }}{{ nutrient.serial }})
    </div><br/>
    <div class="opted-item"></div>
    <div class="message"></div>
    <ul class="wrap-bt off">
        <li class="bt bt-get">GET</li></li>
        <li class="bt bt-delete" style="display: none">DELETE</li>
        <li class="bt bt-update" style="display: none">UPDATE</li>
    </ul>
</p>
<div class="cnt">{{ factor_set_cnt|e }}</div>
<section class="tb">
    <header>
        <div>Code</div>
        <div>EngName</div>
        <div>Quantity</div>
        <div>IsActive</div>
        <div>HasSub</div>
        <div>KorName</div>
        <div>JpnName</div>
        <div>ChnName</div>
    </header>
{% for set_of_factor in factor_set %}
    <div
            class="tr"
            data-factor-code="{{ set_of_factor.factor.pattern1|e }}-{{ set_of_factor.factor.pattern2|e }}-{{ set_of_factor.factor.pattern3|e }}-{{ set_of_factor.factor.pattern4|e }}"
    >
        <div>
            {{ set_of_factor.factor.pattern1|e }}{{ set_of_factor.factor.pattern2|e }}{{ set_of_factor.factor.pattern3|e }}{{ set_of_factor.factor.pattern4|e }}
        </div>
        <div>{{ set_of_factor.factor.eng_name|e }}</div>
        <div>{{ set_of_factor.quantity }} {{ set_of_factor.unit_common.symbol }}</div>
        {% if set_of_factor.factor.is_active %}
            <div style="color: dodgerblue">{{ set_of_factor.factor.is_active }}</div>
        {% else%}
            <div style="color: lightblue">{{ set_of_factor.factor.is_active }}</div>
        {% endif %}
        {% if set_of_factor.factor.has_sub %}
            <div style="color: dodgerblue">{{ set_of_factor.factor.has_sub }}</div>
        {% else%}
            <div style="color: lightblue">{{ set_of_factor.factor.has_sub }}</div>
        {% endif %}
        <div>{{ set_of_factor.factor.kor_name|e }}</div>
        <div>{{ set_of_factor.factor.jpn_name|e }}</div>
        <div>{{ set_of_factor.factor.chn_name|e }}</div>
    </div>
{% endfor %}
</section>
