<p>
    <div class="title" >Factor List</div><br/>
    <div class="opted-factor"></div>
    <ul class="wrap-bt" id="flist-wrap-bt">
        <li class="bt" id="flist-reset">RESET</li>
        <li class="bt off" id="flist-add" style="display: none">ADD</li>
    </ul>
</p>

<section class="tb" id="tb-flist">
    <header>
        <div style="min-width: 10px !important;">   </div>
        <div>Code</div>
        <div>EngName</div>
        <div>IsActive</div>
        <div>HasSub</div>
        <div>KorName</div>
        <div>JpnName</div>
        <div>ChnName</div>
    </header>
{% include 'factors/table_factor.html' %}
</section>
