{% extends "base_layout.html" %}
{% block title %}Create Nutrition{% endblock %}
{% block head %}
  {{ super() }}
    <style type="text/css">
        ul#wrap-nt {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        li#box-selection {
            display: inline-block;
            float: left;
            border-style: solid;
            border-width: 1px;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 5px;
            margin-left: 0;
            margin-right: 20px;
        }
        li.box-preview {
            display: inline-block;
            float: left;
            border-style: solid;
            border-width: 1px;
            padding-top: 0px;
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 15px;
            margin-top: 5px;
        }
    </style>
    <script>
        // JS Functions
        function getNutritionList(dtPattern, ntPattern1) {
            $.ajax({
                url: "/api/nutrition/nutritionlist",
                data: {
                    dtPattern: dtPattern,
                    ntPattern1: ntPattern1
                },
                type: "GET",
                dataType: "json"
            })
                .done(function ( jsonDataSet ) {
                    var targetEl = $("ol.box-preview").empty();

                    for (key in jsonDataSet) {
                        var li = $('<li>'),
                            input = $('<input>').attr({
                                name: "nt_pattern2", type: "hidden",
                                value: jsonDataSet[key]}),
                            label = $('<label>').text(key);

                        targetEl.append(li.append(input).append(label))
                    }
                })
                .fail(function( xhr, status, errorThrown ) {
                    alert( "Sorry, there was a problem!" );
                    console.log( "Error: " + errorThrown );
                    console.log( "Status: " + status );
                    console.dir( xhr );
                })
                .always(function( xhr, status ) {
                    console.log( "The request is complete!" );
                });
        }
        function getNTPattern2(ntPattern1) {
            $.ajax({
                url: "/api/nutrition/getntpattern2",
                data: {
                    ntPattern1: ntPattern1
                },
                type: "GET",
                dataType: "json"
            })
                .done(function ( jsonDataSet ) {
                    var targetEl = $("ul#nt_pattern2").empty();

                    for (key in jsonDataSet) {
                        var li = $('<li>'),
                            input = $('<input>').attr({
                                name: "nt_pattern2", type: "radio",
                                value: jsonDataSet[key]}),
                            label = $('<label>').text(key);

                        targetEl.append(li.append(input).append(label))
                    }
                })
                .fail(function( xhr, status, errorThrown ) {
                    alert( "Sorry, there was a problem!" );
                    console.log( "Error: " + errorThrown );
                    console.log( "Status: " + status );
                    console.dir( xhr );
                })
                .always(function( xhr, status ) {
                    console.log( "The request is complete!" );
                });
        }

        // Selection Chaining
        // http://learn.jquery.com/using-jquery-core/working-with-selections/
        $(document).ready(function(){
            $( "#content" )
                .find("ul#nt_pattern1 > li")
                .on( "click", function() {
                    console.log( "Selection Chaining Successfully Activated!" );
                    var dtPattern = $("ul#dt_pattern").find( "input:checked" ).val(),
                        ntPattern1 = $(this).find("input").val();
                    getNutritionList(dtPattern, ntPattern1);
                    getNTPattern2(ntPattern1);
                })
        })
    </script>
{% endblock %}
{% block content %}
    <ul id="nc-field">
        <li id="nc-selection-field">
            <p>Select Nutrition Option</p>
            {% from "formhelpers.html" import render_field %}
            <form method=post>
                <dl>
                    {{ render_field(form.dt_pattern) }}<br/>
                    {{ render_field(form.nt_pattern1) }}<br/>
                    {{ render_field(form.nt_pattern2) }}<br/>
                    {{ render_field(form.is_set) }}<br/>
                    {{ render_field(form.eng_name) }}<br/>
                    {{ render_field(form.eng_plural) }}<br/>
                    {{ render_field(form.kor_name) }}<br/>
                    {{ render_field(form.jpn_name) }}<br/>
                    {{ render_field(form.chn_name) }}<br/>
                    {{ render_field(form.submit) }}<br/>
                </dl>
            </form>
        </li>
        <li class="nc-preview">
            <p>Preview Nutrition List</p>
            <ol class="nc-preview">
            {% for nutrition in nutrition_packs %}
                <li>
                {{ nutrition.dt_pattern|e}}{{ nutrition.nt_pattern1|e }}
                {{ nutrition.nt_pattern2 }}{{ nutrition.serial|e }}
                {{ nutrition.eng_name|e}}
                </li>
            {% endfor %}
            </ol>
        </li>
    </ul>
{% endblock %}
