{% extends "base_layout.html" %}
{% block title %}Nutrition List{% endblock %}
{% block head %}
  {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <script type="text/javascript">
    
    </script>
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages()  %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div>A Nutritional Composite</div>
    <div>{{ selected_nutrition_name|e }}</div>
    <div>Components</div>
    {% if nutritions %}
        <ul class="nutrition-list">
        {% for nutrition in nutritions %}
            <li
                    data-dt-pattern="{{ nutrition.dt_pattern|e }}"
                    data-nt-pattern1="{{ nutrition.nt_pattern1|e }}"
                    data-nt-pattern2="{{ nutrition.nt_pattern2|e }}"
                    data-serial="{{ nutrition.serial|e }}"
                    data-eng-name="{{ nutrition.eng_name|e }}"
            >
                {{ nutrition.dt_pattern|e }}{{ nutrition.nt_pattern1|e }}
                {{ nutrition.nt_pattern2|e }}{{ nutrition.serial|e }}
                {{ nutrition.eng_name|e }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <div>There's any Nutrition components exist.</div>
    {% endif %}
    <div>Factors</div>
    {% if factors %}
        <ul class="factor-list">
        {% for factor in factors %}
            <li>
                {{ factor.pattern1 }}{{ factor.pattern2 }}{{ factor.pattern3 }}
                {{ factor.pattern4 }}{{ factor.eng_name }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <div>There's any Nutrition factors exist.</div>
    {% endif %}
{% endblock %}