<p>
    <div class="title">Nutrition List</div><br/>
    <div class="cnt"id="cnt-nlist">{{ nutrition_list_cnt|e }}</div>
</p>
<section class="tb" id="tb-nlist">
    <header>
        <div>Code</div>
        <div>EngName</div>
        <div>IsActive</div>
        <div>HasSub</div>
        <div>EngPlural</div>
        <div>KorName</div>
        <div>JpnName</div>
        <div>ChnName</div>
    </header>
{% for nutrition in nutrition_list %}
    <div
            class="tr tr-nlist"
            data-dt-pattern="{{ nutrition.dt_pattern|e }}"
            data-pattern1="{{ nutrition.pattern1|e }}"
            data-pattern2="{{ nutrition.pattern2|e }}"
            data-serial="{{ nutrition.serial|e }}"
    >
        <div>
            {{ nutrition.dt_pattern|e}}{{ nutrition.pattern1|e }}{{ nutrition.pattern2|e }}{{ nutrition.serial|e }}
        </div>
        <div>{{ nutrition.eng_name|e }}</div>
        {% if nutrition.is_active %}
            <div style="color: dodgerblue">{{ nutrition.is_active }}</div>
        {% else%}
            <div style="color: lightblue">{{ nutrition.is_active }}</div>
        {% endif %}
        {% if nutrition.has_sub %}
            <div style="color: dodgerblue">{{ nutrition.has_sub }}</div>
        {% else%}
            <div style="color: lightblue">{{ nutrition.has_sub }}</div>
        {% endif %}
        <div>{{ nutrition.eng_plural|e }}</div>
        <div>{{ nutrition.kor_name|e }}</div>
        <div>{{ nutrition.jpn_name|e }}</div>
        <div>{{ nutrition.chn_name|e }}</div>
    </div>
{% endfor %}
</section>