{% extends "base_layout.html" %}
{% block title %}Nutrition List{% endblock %}
{% block head %}
  {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <script type="text/javascript">

        // JS Functions
        function submitNutritionToDetail(thisForm, dtPattern, ntPattern1,
                                         ntPattern2, serial, engName) {
            thisForm.attr({
                name: "nutrition_form",
                action: "/nutrition/detail",
                method: "post"
            })
                .find( "input" )
                .eq(4)
                    .attr({
                        name: "dt_pattern",
                        value: dtPattern
                    })
                    .end()
                .eq(3)
                    .attr({
                        name: "nt_pattern1",
                        value: ntPattern1
                    })
                    .end()
                .eq(2)
                    .attr({
                        name: "nt_pattern2",
                        value: ntPattern2
                    })
                    .end()
                .eq(1)
                    .attr({
                        name: "serial",
                        value: serial
                    })
                    .end()
                .eq(0)
                    .attr({
                        name: "selected_nutrition_name",
                        value: engName
                    })

            thisForm.submit();
        }

        // Selection Chaining
        // http://learn.jquery.com/using-jquery-core/working-with-selections/
        $(document).ready(function(){
            $( "#content" )
                .find( "ul.nutrition-list > li" )
                .on( "click", function() {
                    console.log( "Selection Chaining Successfully Loaded!" );
                    var thisForm = $( "form#nutrition-detail" ),
                        dtPattern = this.dataset.dtPattern,
                        ntPattern1 = this.dataset.ntPattern1,
                        ntPattern2 = this.dataset.ntPattern2,
                        serial = this.dataset.serial,
                        engName = this.dataset.engName
                    submitNutritionToDetail(thisForm, dtPattern, ntPattern1,
                        ntPattern2, serial, engName)
                })
        })
    </script>
    <form id="nutrition-detail">
        <input type="hidden">
        <input type="hidden">
        <input type="hidden">
        <input type="hidden">
        <input type="hidden">
    </form>
{% endblock %}
{% block content %}
    <ul class="nutrition-list">
    {% for nutrition in nutritions %}
        <li
                data-dt-pattern="{{ nutrition.dt_pattern|e }}"
                data-nt-pattern1="{{ nutrition.nt_pattern1|e }}"
                data-nt-pattern2="{{ nutrition.nt_pattern2|e }}"
                data-serial="{{ nutrition.serial|e }}"
                data-eng-name="{{ nutrition.eng_name|e }}"
        >
            {{ nutrition.dt_pattern|e}}{{ nutrition.nt_pattern1|e }}
            {{ nutrition.nt_pattern2 }}{{ nutrition.serial|e }}
            {{ nutrition.eng_name|e}}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
