{% extends "base_layout.html" %}
{% block title %}Create Nutrition{% endblock %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" href=
            "{{ url_for('static', filename='css/nutrition.css') }}">
    <script src="{{ url_for('static', filename='js/nutrition.js') }}"></script>
{% endblock %}
{% block content %}
    <ul id="wrap-nt">
        <li id="box-ndetail">
            {% include 'nutrition/nt_detail.html' %}
        </li>
        <li id="box-nlist">
            {% include 'nutrition/nt_list.html' %}
        </li>
        <li id="box-fdetail">
            Factor Detail
        </li>
        <li id="box-flist">
            Factor List
        </li>
        <li id="box-logs">
            Modified Logs
        </li>
    </ul>
{% endblock %}
