<p>
    <div class="title">Nutrition Detail</div><br/>
    {% if nutrition %}
        <div id="detail-item" style="color: dodgerblue">
            ({{ nutrition.eng_name }} {{ nutrition.dt_pattern }}{{ nutrition.pattern1 }}{{ nutrition.pattern2 }}{{ nutrition.serial }})</div>
    {% else %}
        <div id="detail-item" style="color: orangered">None Selected</div>
    {% endif %}
</p>
{% from "formhelpers.html" import render_field %}
<form method=post id="ndetail_form">
    <dl>
        {{ render_field(form.dt_pattern) }}<br/>
        {{ render_field(form.pattern1) }}<br/>
        {{ render_field(form.pattern2) }}<br/>
        {{ render_field(form.has_sub) }}<br/>
        {{ render_field(form.is_active) }}<br/>
        <div id="bt-reset">
            <input type="reset" value="Reset Text"/>
        </div>
        {{ render_field(form.eng_name) }}<br/>
        {{ render_field(form.eng_plural) }}<br/>
        {{ render_field(form.kor_name) }}<br/>
        {{ render_field(form.jpn_name) }}<br/>
        {{ render_field(form.chn_name) }}<br/>
        {% if nutrition %}
            <p class="bt" id="bt-send">UPDATE</p>
        {% else %}
            <p class="bt" id="bt-send">CREATE</p>
        {% endif %}
    </dl>
</form>
