<p>
    <div class="title" >Add Factor</div>
    <div class="cnt">{{ factors_cnt|e }}</div>
</p>
<section class="tb" id="tb-flist">
    <header>
        <div>Code</div>
        <div>EngName</div>
        <div>IsActive</div>
        <div>HasSub</div>
        <div>KorName</div>
        <div>JpnName</div>
        <div>ChnName</div>
    </header>
{% for factor in factors %}
    <div
            class="tr tr-flist"
            data-dt-pattern="{{ factor.nutrition_dt_pattern|e }}"
            data-pattern1="{{ factor.nutrition_pattern1|e }}"
            data-pattern2="{{ factor.nutrition_pattern2|e }}"
            data-serial="{{ factor.nutrition_serial|e }}"
            data-nf-pattern1="{{ factor.pattern1|e }}"
            data-nf-pattern2="{{ factor.pattern2|e }}"
            data-nf-pattern3="{{ factor.pattern3|e }}"
            data-nf-pattern4="{{ factor.pattern4|e }}"
    >
        <div>
            {{ factor.pattern1|e }}{{ factor.pattern2|e }}{{ factor.pattern3|e }}{{ factor.pattern4|e }}
        </div>
        <div>{{ factor.eng_name|e }}</div>
        <div>
        {% if factor.is_active %}
            <span style="color: dodgerblue">{{ factor.is_active }}</span>
        {% else %}
            <span style="color: lightblue">{{ factor.is_active }}</span>
        {% endif %}
        </div>
        <div>
        {% if factor.has_sub %}
            <span style="color: dodgerblue">{{ factor.has_sub }}</span>
        {% else %}
            <span style="color: lightblue">{{ factor.has_sub }}</span>
        {% endif %}
        </div>
        <div>{{ factor.kor_name|e }}</div>
        <div>{{ factor.jpn_name|e }}</div>
        <div>{{ factor.chn_name|e }}</div>
    </div>
{% endfor %}
</section>
<p class="bt" id="bt-add-flist">Add</p>