<p>
    <div id="title-preview">Preview Nutrition List</div><br/>
    <div id="cnt-preview">{{ pack_cnt|e }}</div>
</p>
<section id="tb-preview">
    <header>
        <div>Code</div>
        <div>EngName</div>
        <div>HasSub</div>
    </header>
{% for nutrition in nutrition_pack %}
    <div
            class="tr-preview"
            data-dt-pattern="{{ nutrition.dt_pattern|e }}"
            data-nt-pattern1="{{ nutrition.nt_pattern1|e }}"
            data-nt-pattern2="{{ nutrition.nt_pattern2|e }}"
            data-serial="{{ nutrition.serial|e }}"
    >
        <div>
            {{ nutrition.dt_pattern|e}}{{ nutrition.nt_pattern1|e }}{{ nutrition.nt_pattern2|e }}{{ nutrition.serial|e }}
        </div>
        <div>{{ nutrition.eng_name|e }}</div>
        {% if nutrition.is_set %}
            <div style="color: green">{{ nutrition.is_set }}</div>
        {% else%}
            <div style="color: lightblue">{{ nutrition.is_set }}</div>
        {% endif %}
    </div>
{% endfor %}
</section>