/* Content */
section#wrap-nt {
    margin-right: 10px;
}

/* Content > Nutrient Detail */
div#ndetail-tr {
    display: table-row;
}
div#ndetail-tr > div {
    display: table-cell;
    text-align: center;
    padding-right: 20px;
}
div.ndetail-ul > ul {
    list-style: none;
    text-align: left;
}

/* Content > Factor List */
div.opted-factor {
    margin : auto;
    text-align: center;
    font-size: 13px;
}
div.opted-factor > div {
    display : inline;
    margin-right: 10px;
    color: magenta;
}
div.message {
    text-align: center;
    color: orangered;
    font-size: 13px;
}



