<p>
    <div class="title" >Factor Detail</div><br/>
    <div class="opted-item" id="opted-nutrient" style="color:dodgerblue"
         data-nutrient-code="{{ nutrient.dt_pattern|e }}-{{ nutrient.pattern1|e }}-{{ nutrient.pattern2|e }}-{{ nutrient.serial|e }}"
    >
        ({{ nutrient.eng_name }} {{ nutrient.dt_pattern }}{{ nutrient.pattern1 }}{{ nutrient.pattern2 }}{{ nutrient.serial }})
    </div>
    <div class="cnt">{{ factors_cnt|e }}</div>
</p>
<section class="tb" id="tb-fdetail">
    <header>
        <div>Code</div>
        <div>EngName</div>
        <div>IsActive</div>
        <div>HasSub</div>
        <div>KorName</div>
        <div>JpnName</div>
        <div>ChnName</div>
    </header>
{% for factor in factors %}
    <div
            class="tr-fdetail"
            data-pattern1="{{ factor.pattern1|e }}"
            data-pattern2="{{ factor.pattern2|e }}"
            data-pattern3="{{ factor.pattern3|e }}"
            data-pattern4="{{ factor.pattern4|e }}"
    >
        <div>
            {{ factor.pattern1|e }}{{ factor.pattern2|e }}{{ factor.pattern3|e }}{{ factor.pattern4|e }}
        </div>
        <div>{{ factor.eng_name|e }}</div>
        {% if factor.is_active %}
            <div style="color: green">{{ factor.is_active }}</div>
        {% else%}
            <div style="color: lightblue">{{ factor.is_active }}</div>
        {% endif %}
        {% if factor.has_sub %}
            <div style="color: green">{{ factor.has_sub }}</div>
        {% else%}
            <div style="color: lightblue">{{ factor.has_sub }}</div>
        {% endif %}
        <div>{{ factor.kor_name|e }}</div>
        <div>{{ factor.jpn_name|e }}</div>
        <div>{{ factor.chn_name|e }}</div>
    </div>
{% endfor %}
</section>
<ul class="wrap-bt off"><li class="bt" id="get-flist">GET</li></ul>
