{% for factor in factors %}
    <div
            class="tr tr-flist off"
            data-pattern1="{{ factor.pattern1|e }}"
            data-pattern2="{{ factor.pattern2|e }}"
            data-pattern3="{{ factor.pattern3|e }}"
            data-pattern4="{{ factor.pattern4|e }}"
            data-has-sub="{{ factor.has_sub|e }}"
            data-code="{{ factor.pattern1|e }}{{ factor.pattern2|e }}{{ factor.pattern3|e }}{{ factor.pattern4|e }}"
            data-eng-name="{{ factor.eng_name|e }}"
            data-kor-name="{{ factor.kor_name|e }}"
    >
        <div class="bullet">
            {% if factor.has_sub %}
                &#10149;
            {% endif %}
        </div>
        <div>
            {{ factor.pattern1|e }}{{ factor.pattern2|e }}{{ factor.pattern3|e }}{{ factor.pattern4|e }}
        </div>
        <div>{{ factor.eng_name|e }}</div>
        <div>
        {% if factor.is_active %}
            <span style="color: dodgerblue">{{ factor.is_active }}</span>
        {% else %}
            <span style="color: lightblue">{{ factor.is_active }}</span>
        {% endif %}
        </div>
        <div>
        {% if factor.has_sub %}
            <span style="color: dodgerblue">{{ factor.has_sub }}</span>
        {% else %}
            <span style="color: lightblue">{{ factor.has_sub }}</span>
        {% endif %}
        </div>
        <div>{{ factor.kor_name|e }}</div>
        <div>{{ factor.jpn_name|e }}</div>
        <div>{{ factor.chn_name|e }}</div>
    </div>
{% endfor %}