<p>
    <div class="title" >Factor List</div>
    <div class="bt" id="bt-reset-flist">Reset</div>
    <div class="cnt">{{ factors_cnt|e }}</div>
</p>
<section class="tb" id="tb-flist">
    <header>
        <div style="min-width: 10px !important;">   </div>
        <div>Code</div>
        <div>EngName</div>
        <div>IsActive</div>
        <div>HasSub</div>
        <div>KorName</div>
        <div>JpnName</div>
        <div>ChnName</div>
    </header>
{% include 'nutrient/factor_list_part.html' %}
</section>
