<p>
    <div class="title">Nutrient Detail</div><br/>
    {% if nutrient %}
        <div class="selected-item" id="selected-nutrient" style="color: dodgerblue"
             data-dt-pattern="{{ nutrient.dt_pattern }}"
             data-pattern1="{{ nutrient.pattern1 }}"
             data-pattern2="{{ nutrient.pattern2 }}"
             data-serial="{{ nutrient.serial }}"
        >
            ({{ nutrient.eng_name }} {{ nutrient.dt_pattern }}{{ nutrient.pattern1 }}{{ nutrient.pattern2 }}{{ nutrient.serial }})</div>
    {% else %}
        <div class="selected-item" style="color: lightblue">Create New</div>
    {% endif %}
    <ul class="wrap-bt off">
        {% if nutrient %}
            <li class="bt" id="n-send">UPDATE</li>
            <li class="bt selected" id="n-reset">RESET</li>
            <li class="bt" id="n-new">NEW</li>
        {% else %}
            <li class="bt" id="n-send">CREATE</li>
            <li class="bt new" id="n-reset">RESET</li>
        {% endif %}
    </ul>
</p>
{% from "formhelpers.html" import render_field %}
<form method=post id="ndetail-form">
<div class="tb">
    <div id="ndetail-tr">
        <div>
        {{ render_field(form.dt_pattern) }}<br/>
        {{ render_field(form.pattern1) }}
        </div>
        <div>
        {{ render_field(form.pattern2) }}
        </div>
        <div>
        {{ render_field(form.has_sub) }}<br/>
        {{ render_field(form.is_active) }}
        </div>
        <div>
        {{ render_field(form.eng_name) }}<br/>
        {{ render_field(form.eng_plural) }}<br/>
        {{ render_field(form.kor_name) }}<br/>
        {{ render_field(form.jpn_name) }}<br/>
        {{ render_field(form.chn_name) }}<br/>
        <div id="bt-reset">
            <input type="reset" value="Remove Names"/>
        </div><br/>
        </div>
    </div>
</div>
</form>
