<p>
    <div class="title" >Factor List</div><br/>
    <div id="selected-factor"></div>
    <ul class="wrap-bt off" id="flist-wrap-bt"><li class="bt" id="bt-reset">RESET</li></ul>
</p>

<section class="tb" id="tb-flist">
    <header>
        <div style="min-width: 10px !important;">   </div>
        <div>Code</div>
        <div>EngName</div>
        <div>IsActive</div>
        <div>HasSub</div>
        <div>KorName</div>
        <div>JpnName</div>
        <div>ChnName</div>
    </header>
{% include 'nutrient/table_ft.html' %}
</section>
