<p>
    <div class="title">Set of Nutrients</div>
    <div class="delegate-item" style="color:dodgerblue"
         data-nutrient-code="{{ nutrient.dt_pattern|e }}-{{ nutrient.pattern1|e }}-{{ nutrient.pattern2|e }}-{{ nutrient.serial|e }}"
    >
        ({{ nutrient.eng_name }} {{ nutrient.dt_pattern }}{{ nutrient.pattern1 }}{{ nutrient.pattern2 }}{{ nutrient.serial }})
    </div><br/>
    <div class="opted-item"></div>
    <div class="message"></div>
    <ul class="wrap-bt off">
        <li class="bt bt-get">GET</li></li>
        <li class="bt bt-delete off" style="display: none">DELETE</li>
        <li class="bt bt-update off" style="display: none">UPDATE</li>
    </ul>
</p>
<div class="tb-section">{% include 'nutrients/table_nutrient.html' %}</div>
