<p>
    <div class="title">Nutrient Detail</div>
    {% if nutrient %}
        <div class="delegate-item" style="color: dodgerblue"
             data-nutrient-code="{{ nutrient.dt_pattern|e }}-{{ nutrient.pattern1|e }}-{{ nutrient.pattern2|e }}-{{ nutrient.serial|e }}"
        >
            ({{ nutrient.eng_name }} {{ nutrient.dt_pattern }}{{ nutrient.pattern1 }}{{ nutrient.pattern2 }}{{ nutrient.serial }})</div>
    {% else %}
        <div class="delegate-item" style="color: lightblue">Create New</div>
    {% endif %}
    <div class="message" id="message-flist">{{ message }}</div><br/>
    <ul class="wrap-bt off">
        {% if nutrient %}
            <li class="bt bt-reset selected">RESET</li>
            <li class="bt bt-new">NEW</li>
            <li class="bt bt-delete">DELETE</li>
            <li class="bt bt-update">UPDATE</li>
        {% else %}
            <li class="bt bt-reset new">RESET</li>
            <li class="bt bt-create">CREATE</li>
        {% endif %}
    </ul>
</p>
{% from "formhelpers.html" import render_field %}
{% include "nutrients/form_nutrient.html" %}
