<p>
    <div class="title">Nutrient Detail</div>
    {% if nutrient %}
        <div class="opted-item" id="ndetail-opted-nutrient" style="color: dodgerblue"
             data-nutrient-code="{{ nutrient.dt_pattern|e }}-{{ nutrient.pattern1|e }}-{{ nutrient.pattern2|e }}-{{ nutrient.serial|e }}"
        >
            ({{ nutrient.eng_name }} {{ nutrient.dt_pattern }}{{ nutrient.pattern1 }}{{ nutrient.pattern2 }}{{ nutrient.serial }})</div>
    {% else %}
        <div class="opted-item" style="color: lightblue">Create New</div>
    {% endif %}
    <div class="message" id="message-flist">{{ message }}</div><br/>
    <ul class="wrap-bt off">
        {% if nutrient %}
            <li class="bt selected" id="n-reset">RESET</li>
            <li class="bt" id="n-new">NEW</li>
            <li class="bt" id="n-delete">DELETE</li>
            <li class="bt" id="n-update">UPDATE</li>
        {% else %}
            <li class="bt new" id="n-reset">RESET</li>
            <li class="bt" id="n-create">CREATE</li>
        {% endif %}
    </ul>
</p>
{% from "formhelpers.html" import render_field %}
<form id="ndetail-form">
<div class="tb">
    <div id="ndetail-tr">
        <div>
        {{ render_field(form.dt_pattern) }}<br/>
        {{ render_field(form.pattern1) }}
        </div>
        <div>
        {{ render_field(form.pattern2) }}
        </div>
        <div>
        {{ render_field(form.has_sub) }}<br/>
        {{ render_field(form.is_active) }}
        </div>
        <div>
        {{ render_field(form.eng_name) }}<br/>
        {{ render_field(form.eng_plural) }}<br/>
        {{ render_field(form.kor_name) }}<br/>
        {{ render_field(form.jpn_name) }}<br/>
        {{ render_field(form.chn_name) }}<br/>
        <div id="bt-reset">
            <input type="reset" value="Reset Names"/>
        </div><br/>
        </div>
    </div>
</div>
</form>
