<p>
<div class="title">Nutrient List</div>
<div class="cnt"id="cnt-nlist">{{ nutrients_cnt|e }}</div>
</p>
<section class="tb" id="tb-nlist">
    <header>
        <div>Code</div>
        <div>EngName</div>
        <div>IsActive</div>
        <div>HasSub</div>
        <div>EngPlural</div>
        <div>KorName</div>
        <div>JpnName</div>
        <div>ChnName</div>
    </header>
{% for nutrient in nutrients %}
    <div
            class="tr tr-nlist"
            data-nutrient-code="{{ nutrient.dt_pattern|e }}-{{ nutrient.pattern1|e }}-{{ nutrient.pattern2|e }}-{{ nutrient.serial|e }}"
    >
        <div>
            {{ nutrient.dt_pattern|e}}{{ nutrient.pattern1|e }}{{ nutrient.pattern2|e }}{{ nutrient.serial|e }}
        </div>
        <div>{{ nutrient.eng_name|e }}</div>
        {% if nutrient.is_active %}
            <div style="color: dodgerblue">{{ nutrient.is_active }}</div>
        {% else%}
            <div style="color: lightblue">{{ nutrient.is_active }}</div>
        {% endif %}
        {% if nutrient.has_sub %}
            <div style="color: dodgerblue">{{ nutrient.has_sub }}</div>
        {% else%}
            <div style="color: lightblue">{{ nutrient.has_sub }}</div>
        {% endif %}
        <div>{{ nutrient.eng_plural|e }}</div>
        <div>{{ nutrient.kor_name|e }}</div>
        <div>{{ nutrient.jpn_name|e }}</div>
        <div>{{ nutrient.chn_name|e }}</div>
    </div>
{% endfor %}
</section>
