<form
        data-nutrient-code="{{ nutrient.dt_pattern|e }}-{{ nutrient.pattern1|e }}-{{ nutrient.pattern2|e }}-{{ nutrient.serial|e }}"
>
    <div>{{ nutrient.dt_pattern|e }}{{ nutrient.pattern1|e }}{{ nutrient.pattern2|e }}{{ nutrient.serial|e }}</div>
    <div>{{ nutrient.eng_name }}</div>
    <div>{{ nutrient.kor_name }}</div>
    {% if form %}
        <div>{{ form.unit }}</div>
        <div>{{ form.quantity }}</div>
    {% else %}
        <div>
            <select id="unit">
            {% for unit in units %}
                <option
                        data-unit-code="{{ unit.pattern1 }}-{{ unit.pattern2 }}"
                >
                    {{ unit.symbol }}
                </option>
            {% endfor %}
            </select>
        </div>
        <div><input type="text" id="quantity"></div>
    {% endif %}
    <div><input type="reset" value="Reset"/></div>
</form>
