<!doctype html>
<html>
  <head>
    {% block head %}
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
        <link rel="stylesheet" href=
            "{{ url_for('static', filename='css/common.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>window.JQuery || document.write('<script src="{{
        url_for('static', filename='jquery-3.3.1.min.js') }}">\x3C/script>')</script>
        <script src="{{ url_for('static', filename='js/taberu_module.js') }}"></script>
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="navbar">
        <ul id="navbar-list">
            <li><a href="/">TABERU</a></li>
            <li><a href="/nutrients">NUTRIENTS</a></li>
            <li><a href="/medications">MEDICATIONS</a></li>
            <li><a href="/conditions">CONDITIONS</a></li>
            <li><a href="/exercises">EXERCISES</a></li>
            <li><a href="/tags">TAGS</a></li>
            <li><a href="/users">USERS</a></li>
        </ul>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
          <p id="txt-footer">
            &copy; Copyright 2018 by <a href="https://github.com/RoyGoya/taberu_admin_project01">RoyGoya</a>.
          </p>
      {% endblock %}
    </div>
  </body>
</html>