{% extends "base_layout.html" %}
{% block title %}Nutrients{% endblock %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" href=
            "{{ url_for('static', filename='css/nutrient.css') }}">
    <script src="{{ url_for('static', filename='js/nutrient.js') }}"></script>
{% endblock %}
{% block content %}
    <section class="wrap-box">
        <div class="box" id="box-nlist">
            {% include 'nutrients/box_list_nutrient.html' %}
        </div>
        <div class="box" id="box-ndetail">
            {% include 'nutrients/box_detail_nutrient.html' %}
        </div>
        <div class="box off" id="box-nsub" style="display: none;"></div>
        <div class="box off" id="box-nget" style="display: none;">
            {% include 'nutrients/box_get_nutrient.html' %}
        </div>
        <div class="box off" id="box-fdetail" style="display: none;"></div>
        <div class="box off" id="box-flist" style="display: none;"></div>
        <div class="box off" id="box-logs" style="display: none;"></div>
    </section>
{% endblock %}
