<!doctype html>
<html>
  <head>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>window.JQuery || document.write('<script src="{{
        url_for('static', filename='jquery-3.3.1.min.js') }}">\x3C/script>')</script>
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="navbar">
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/contents">Contents</a></li>
            <li><a href="/models">Models</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a href="/project">Taberu</a></li>
        </ul>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2017 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
  </body>
</html>