{% extends "base_layout.html" %}
{% block title %}Nutrients{% endblock %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" href=
            "{{ url_for('static', filename='css/nutrient.css') }}">
    <script src="{{ url_for('static', filename='js/nutrient.js') }}"></script>
{% endblock %}
{% block content %}
    <section id="wrap-nt">
        <div class="box" id="box-nlist">
            {% include 'nutrients/list_nutrient.html' %}
        </div>
        <div class="box" id="box-ndetail">
            {% include 'nutrients/detail_nutrient.html' %}
        </div>
        <div class="box off" id="box-fdetail" style="display: none;"></div>
        <div class="box off" id="box-flist" style="display: none;"></div>
        <div class="box off" id="box-logs" style="display: none;"></div>
    </section>
{% endblock %}
